@using VirtualPiano.Web.Areas.MusicSheets.ViewModels
@model AllArtistsViewModel
@{
    ViewBag.Title = "Artist Details";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>@Model.Name</h1>
        </div>
        <div class="col-md-4 pull-right">
            <br />
            <br />
            <a href="#" class="btn btn-ld btn-success" id="searchBtn"><i class="glyphicon glyphicon-search"></i></a>
            @*@Ajax.ActionLink("Buy", "BuyItem", "MsmqTest", new { area = "Msmq" }, new AjaxOptions { UpdateTargetId = "msmqpartial" }*@
        </div>
    </div>
    <div class="row">
        <div id="searchBar">

        </div>
    </div>

    <br />
    <div class="panel-success">
        <div class="panel-heading">
            <h2 class="panel-title songs-title">Songs List</h2>
        </div>
        <div class="panel-body">
            <ul class="songs-list">
                @foreach (var song in Model.MusicSheets)
                {
                    <li>
                        <h4>@Html.ActionLink(song.Title, "Details", "Sheets", new { id = song.Id }, null)</h4>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@*@section scripts {
        $('#searchBtn').click(function()  { renderPartial() }; );

        function renderPartial() {
            $('#searchBar').load("@Html.Raw(Url.Action()) ")
        }
    }*@

