body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 650px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.thumbnail-container {
    width: 100px;
    height: 140px;
}

.img {
    width: 100%;
    border-radius: 5px;
}

.links {
    text-decoration: none;
    color: lavender;
}

    .links:hover {
        color: #e2a54b;
        background-color: lavender;
    }

.sheet-info {
    font-size: 18px;
}

.sheet-heading {
    border-radius: 5px;
    padding: 5px 10px;
}

.img-container {
    width: 270px;
    height: 300px;
    margin-top: 45px;
    margin-left: 40px;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg);
    rotate(-deg);
    rotate(-deg); /* Chrome, Safari, Opera */
    transform: rotate(-8deg);
}

.categoryCheckBox {
    margin-left: 20px !important;
    margin-right: 5px !important;
}

.songs-title {
    font-size: 14px !important;
}

.songs-list {
    list-style: none;
}

    .songs-list > li {
        padding-top: 5px;
    }

ul.categories-list li {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}

/* Clear Fix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.piano-img-container {
    margin-top: 10px;
    margin-bottom: 15px;
}

.piano-img, .musicians-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 600px;
}

.posted-by {
    font-size: 15px !important;
}

.piano-img {
    max-height: 200px;
}

.musicians-img {
    max-height: 250px;
}

.thumb-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 200px;
    max-height: 280px;
}

.notes {
    width: 100%;
}

.page-footer {
    background-color: #000;
    color: #ccc;
    font-size: 16px;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    height: 250px;
}

.footer-links {
    color: #ccc !important;
}

.footer-links:hover {
    text-decoration: underline;
    color: #98978b !important;
}
