@using VirtualPiano.Web.Areas.Administration.ViewModels.Users;
@{
    ViewBag.Title = "Application Users";
    const string ControllerName = "Users";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@(Html.Kendo().Grid<UsersViewModel>()
    .Name("music-sheets-grid")
    .Columns(columns =>
    {
        columns.Bound(cols => cols.Id).Width(25).Hidden(true);
        columns.Bound(cols => cols.UserName).Width(100);
        columns.Bound(cols => cols.FirstName).Width(350);
        columns.Bound(cols => cols.LastName).Width(75);
        columns.Bound(cols => cols.CreatedOn).Format("{0:dddd, MMMM d, yyyy}").Locked(true);
        columns.Bound(cols => cols.IsDeleted).Locked(true);
        columns.Bound(cols => cols.DeletedOn).Format("{0:dddd, MMMM d, yyyy}").Hidden(true).Locked(true);
        columns.Bound(cols => cols.ModifiedOn).Format("{0:dddd, MMMM d, yyyy}").Hidden(true).Locked(true);
        columns.Command(cols => cols.Edit()).Title("Edit Openning").Width(55);
        columns.Command(cols => cols.Destroy()).Title("Delete Openning").Width(55);
    })
    .Sortable()
    .Groupable()
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5)
    )
    .DataSource(dataSource => dataSource.Ajax()
        .Model(model => model.Id(ad => ad.Id))
        .Read(read => read.Action("Read", ControllerName))
        .Update(update => update.Action("Update", ControllerName))
        .Destroy(destroy => destroy.Action("Destroy", ControllerName))
    )
)
<br />
