<div class="form-control">
    <select name="listCategories" class="categories">
        <option>Select Genre</option>
        @*Iterating Course model using ViewData string as a key *@
        @foreach (var item in ViewData["categories"]
                as List<VirtualPiano.Models.AdCategory>)
        {
            <option>
                @item.Name
            </option>
        }
    </select>
</div>
