@using VirtualPiano.Web.Areas.MusicSheets.ViewModels
@model CategoriesViewModel
@{
    ViewBag.Title = "Genre Details";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@Html.Partial("_PlayThePiano")

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h2><small>GENRE: </small>@Model.Name</h2>
        </div>
        <div class="col-md-4 pull-right">
            <br />
            <br />
            <a href="#" class="btn btn-ld btn-success" id="searchBtn"><i class="glyphicon glyphicon-search"></i></a>
            @*@Ajax.ActionLink("Buy", "BuyItem", "MsmqTest", new { area = "Msmq" }, new AjaxOptions { UpdateTargetId = "msmqpartial" }*@
        </div>
    </div>
    <div class="row">
        <div id="searchBar">

        </div>
    </div>

    <br />

    @{
        Html.RenderPartial("_ListMusicSheets", Model.MusicSheets);
    }
</div>

