@using VirtualPiano.Web.ViewModels.Home;
@model HomePageInfo

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container tilt">
        <h1 class="lead text-center lead-title tilt">
            Virtual Piano
        </h1>
        <a href=@Url.Content("~/Piano/Index")>
            @Html.Partial("_PlayThePiano")
        </a>
    </div>

    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row text-center">
                    <div class="col-md-4">
                        <h2 class="panel-title">MOST RECENT MUSIC SHEETS</h2>
                    </div>
                    <div class="col-md-5">
                        <h2 class="panel-title">MOST RECENT OPENNINGS</h2>
                    </div>
                    <div class="col-md-3">
                        <h2 class="panel-title">NEWEST USER</h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row text-center">
                    <div class="col-md-4">
                        <ul>
                            @foreach (var sheet in Model.MostRecentMusicSheets)
                            {
                                <li>
                                    <h4>
                                        <small>
                                            @Html.ActionLink(sheet.Title.ToUpperInvariant(), "Details", "Sheets", new { Area = "MusicSheets", id = sheet.Id }, null)
                                        </small>
                                    </h4>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <ul>
                            @foreach (var ad in Model.MostRecentMusicAds)
                            {
                                <li>
                                    <h4>
                                        <small>
                                            @Html.ActionLink(ad.Title.ToUpperInvariant(), "Details", "Opennings", new { Area = "MusicOpennings", id = ad.Id }, null)
                                        </small>
                                    </h4>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>
                            <small>
                                @Html.ActionLink(Model.MostRecentUser.UserName.ToUpperInvariant(), "", "", new { Area = "", id = Model.MostRecentUser.Id }, null)
                            </small>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>