@model IEnumerable<VirtualPiano.Web.ViewModels.Home.MusicSheetsViewModel>
@{
    ViewBag.Title = "MusicSheets";
}

<h2>MusicSheets</h2>

@foreach (var musicSheet in Model)
{
    <p>@musicSheet.Title</p>
}

