@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @RenderSection("styles", required: false)
}

@RenderBody()

<div class="col-md-3">

</div>
@section scripts {
    @RenderSection("scripts", required: false)
}