<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title songs-title">MOST RECENT SONGS</h2>
        @*<h2 class="panel-title"><small></small></h2>*@
    </div>
    <div class="panel-body">
        <div class="list-sheets">
            @foreach (var sheet in Model.MostRecentSongs)
            {
                <div class="row">
                    <div class="col-md-3">
                        <img class="thumb-img" alt="thumbnail music sheet" src="@Url.Content("~/imgs/art-music-sheet.jpg")" />
                    </div>
                    <div class="col-md-9">
                        @* TODO: Add JS to fix the problem with redirect to sheets details *@
                        <h4><a href=@string.Format("Details/{0}", sheet.Id)><small>@sheet.Title.ToUpperInvariant()</small></a>
                        </h4>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</div>

